<div class="col-12 p-3" ng-controller="categoriesCtrl" ng-init="initNews()">
    <div class="card-text my-2">
        <h3>Top 5 news by categories from <span class="text-uppercase">{{country}}</span></h3>
    </div>
    
    <div class="col-12 p-4 border rounded" ng-controller="mainCtrl">
        <div class="card-text my-2">
            <h4>Entertainment 
                <i ng-show="showMore" ng-click="showMore = !showMore" class="fas fa-angle-double-up"></i>
                <i ng-hide="showMore" ng-click="showMore = !showMore" class="fas fa-angle-double-down"></i>
            </h4>
        </div>
        <div class="row row-eq-height my-3" ng-hide="showMore">
            <div class="col-1 mx-auto align-items-center">
                <i class="fas fa-chevron-left fa-3x"  ng-click="prevEnt()" ng-show="showStart"></i>
            </div>
            <div class="card col-lg-3 col-6 my-2 border-0" ng-repeat="art in articles | limitTo:3">
                <div class="card px-3 py-2 border rounded h-100 d-flex align-items-start flex-column bd-highlight">
                    <div class="mb-auto bd-highlight">
                        <h5 class="card-title my-2">{{art.title}}</h5>
                        <img class="my-2 w-100" ng-src="{{art.urlToImage}}" alt="">
                        <p class="card-text my-2">{{art.description | cut:true:70:' ...'}}</p>
                    </div>
                    <div class="bd-highlight text-right w-100">
                        <a ng-href="/{{art.publishedAd}}" class="text-right nounderline text-primary"><span>More <i class="fas fa-chevron-right"></i></span></a>
                    </div>
                </div> 
            </div>
            <div class="col-1 mx-auto align-items-center"  >
                <i class="fas fa-chevron-right fa-3x" ng-click="nextEnt()" ng-show="showEnd"></i>
            </div>
        </div>
        <div class="row row-eq-height my-3" ng-show="showMore">
            <div class="card col-lg-3 col-6 my-2 border-0" ng-repeat="art in articles">
                <div class="card px-3 py-2 border rounded h-100 d-flex align-items-start flex-column bd-highlight">
                    <div class="mb-auto bd-highlight">
                        <h5 class="card-title my-2">{{art.title}}</h5>
                        <img class="my-2 w-100" ng-src="{{art.urlToImage}}" alt="">
                        <p class="card-text my-2">{{art.description | cut:true:70:' ...'}}</p>
                    </div>
                    <div class="bd-highlight text-right w-100">
                        <a ng-href="/{{art.publishedAd}}" class="text-right nounderline text-primary"><span>More <i class="fas fa-chevron-right"></i></span></a>
                    </div>
                </div> 
            </div>
        </div>
        <hr class="my">
        <div class="card-text my-2">
            <h4>Science 
                <i ng-show="showScn" ng-click="showScn = !showScn" class="fas fa-angle-double-up"></i>
                <i ng-hide="showScn" ng-click="showScn = !showScn" class="fas fa-angle-double-down"></i>
            </h4>
        </div>
        <div class="row row-eq-height my-3" ng-hide="showScn">
            <div class="col-1 mx-auto align-items-center">
                <i class="fas fa-chevron-left fa-3x" ng-click="prevScn()" ng-show="showStartScn"></i>
            </div>
            <div class="card col-lg-3 col-6 my-2 border-0" ng-repeat="scn in sciences | limitTo:3">
                <div class="card px-3 py-2 border rounded h-100 d-flex align-items-start flex-column bd-highlight">
                    <div class="mb-auto bd-highlight">
                        <h5 class="card-title my-2">{{scn.title}}</h5>
                        <img class="my-2 w-100" ng-src="{{scn.urlToImage}}" alt="">
                        <p class="card-text my-2">{{art.description | cut:true:70:' ...'}}</p>
                    </div>
                    <div class="bd-highlight text-right w-100">
                        <a ng-href="/{{scn.publishedAd}}" class="text-right nounderline text-primary"><span>More <i class="fas fa-chevron-right"></i></span></a>
                    </div>
                </div> 
            </div>
            <div class="col-1 mx-auto align-items-center" >
                <i class="fas fa-chevron-right fa-3x" ng-click="nextScn()"  ng-show="showEndScn"></i>
            </div>
        </div>
        <div class="row row-eq-height my-3" ng-show="showScn">
            <div class="card col-lg-3 col-6 my-2 border-0" ng-repeat="scn in sciences">
                <div class="card px-3 py-2 border rounded h-100 d-flex align-items-start flex-column bd-highlight">
                    <div class="mb-auto bd-highlight">
                        <h5 class="card-title my-2">{{scn.title}}</h5>
                        <img class="my-2 w-100" ng-src="{{scn.urlToImage}}" alt="">
                        <p class="card-text my-2">{{art.description | cut:true:70:' ...'}}</p>
                    </div>
                    <div class="bd-highlight text-right w-100">
                        <a ng-href="/{{scn.publishedAd}}" class="text-right nounderline text-primary"><span>More <i class="fas fa-chevron-right"></i></span></a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
